h1{
    color: red;
}
#user-card{
    text-align:center;
    border: 3px solid black;
    
}
#user-card:hover{
    background-color: lightblue;
}
#p2{
    color: red;
}
#nav{
    height:25px;
    font-size:20px;
    text-align:center;
    padding:10px;
    background-color:burlywood
}
#nav a{
    margin:0px 10px;
    text-decoration:none;
}